.main-nav{
    width:100dvw;
    display:block;
    margin-block:.25rem;
}

.main-menu{
    list-style:none;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:1.5rem 2rem;
    padding:1rem .5rem;
    background-color:#edede8;
    box-shadow:0 .05rem .5rem 0 #c0c0af;
}

.main-menu-items{
    margin:0;
    padding:0;
}

.main-menu-links{
    text-decoration:unset;
    color:#97900f;
    font-weight:700;
    font-size:1.1rem;
    letter-spacing:.025rem;
    font-family:"Ubuntu", system-ui, sans-serif;
    transition: color .125s ease-out;
}

.main-menu-links:hover{
    color:#5e5d4a;
}

.main-menu-links.active{
    text-decoration:underline;
}