.user-card{
    width:30dvw;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    gap:.25rem;
    padding:.5rem .25rem;
    border:.5px solid #97900f;
    background-color:#fbfaf9;
    border-radius:4px;
    cursor:pointer;
}

.user-card:hover{
    background-color:#ebe6e0;
}

.user-card p {
    line-height:1.5;
    font-family:system-ui,sans-serif;
    font-weight:500;
    font-size:1.1rem;
    letter-spacing:.025rem;
    margin-block:.15rem;
}

.user-card button{
    margin-block:1rem 0;
}